@tailwind base;
@tailwind components;
@tailwind utilities;

/*  body Ne styling Karva..*/

body {
  font-family: 'Inter', sans-serif;
  background-color: #000;
  overflow: hidden;
}

/* Custom scrollbar.... */

.custom-scrollbar::-webkit-scrollbar { width: 4px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover { 
  background: rgba(255,255,255,0.2); 
}

/* Bija app container Ne Help karva..*/

.app-root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



html, body {
  height: 100%;
  overflow: hidden;
}


[data-rbd-draggable-context-id] {
  touch-action: none;
}
